* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}
.container {
  background-color: brown;
  height: 80%;
  width: 80%;
  display: grid;
  padding: 10px;
  /* To use as Grid layout */
  /* grid-template-columns:  133px 133px 133px;
grid-template-rows:  133px 133px 133px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.item {
  background-color: aqua;
  /* height: 122px;
width: 122px; */
}
.item1 {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item9 {
  background-color: rgb(223, 140, 226);
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

/*
Tutorial from code with Harry
CSS-Grid can be used to create Website layout 
Grid is Made of Rows and columns 
Grid Container - Entire Screen space where all Grid Cells stay 
Grid Lines - Boarder of Grid Cells 
Grid Track - Area between two Grid Lines [Adjacent Ones ]
Direct children of Grid Container - Grid Item 

Using Grid - we can create Complex Layout 
For Grid items - If we remove Height and Width - it will span the whole cell 
*/
