* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#absolute {
   /* If we comment this - Now car4 can go anywehre in ViePort - But if we make it i.e parent of car4 as relative or absolute[which is inherently relative also] - then it wikll be bound  */
  position: relative; 
  width: 1000px;
  height: 600px;
  background-color: aquamarine;
}

#absolute > h1 {
  font-style: italic;
  color: rgb(160, 37, 37);
}

#absolute > #car1 {
  background-color: black; 
   width: 800px;
   height: 100px;
    position: absolute; 
   /* opacity: 30%; */
}


#absolute >#car2 {
  background-color: blueviolet; 
   width: 600px;
   height: 200px;
   position: absolute;
   /* opacity: 30%; */
}

#absolute >#car3 {
  background-color:brown; 
  position: absolute;
   width: 400px;
   height: 300px;
  /*  opacity: 30%;
  */
}

#absolute >#car4 {
  background-color:rgb(21, 234, 89); 
  position: absolute;
   width: 80px;
   height: 80px;
   top: 80%;
   left: 50%;
  /*  opacity: 30%;
  */
}

#insideCar3 {
  background-color:rgb(207, 207, 55); 
  position: absolute;
   width: 50px;
   height: 50px;
   top: 20%;
   left: 80%;
}

