* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.car {
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 5px;
}

#box {
  background-color: brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
}

/*
Parent of the Divs - Need to be  display Flex - Then elements will get arranged  horizontally 
Else By default they get stacked top to Buttom 
flex-direction decide How elements will be stacked - row Wise or Column Wise 
Now Two Imaginary axis get created 
left to Right [Main axis ]  ===> Justify Content is used for this 
Top to Buttom [Cross Axis ] ===> Align Items 
Parent is called -Flex Container 
Children is called Flex Items 

flex-grow -Used to expand Flex Items 
flex-shrink - used to shrink Item  when Required

flex item order css property decide at which Order the item will apper in Flex Box 
 
align-self , justify-self ==> To make your Own Rule as Flex Item along Flex Box Cross and Main access 

*/
