* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: coral;
  width: 100%;
  height: 100%;
}

#main {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#main2 {
  background-color: aqua;
  height: 100%;
  width: 100px;
  margin-left: 10px;
}
p {
  color: blue;
}
.a {
  background-color: chartreuse;
}