* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  /*  background-color: black; */
   width: 100%;
   height: 100%;
   background-image: url(https://picsum.photos/id/11/800/500);
   background-repeat: repeat;
   background-size: auto;
}


